@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,500;8..144,700&family=Roboto:wght@300;400;500;900&family=Shrikhand&display=swap');
/*nav*/
nav{
    background-color: #111111;
    color: #f0f0f0;
    font-size: 18px;
    padding-right: 200px;
}
nav ul{
    padding:0;
    margin: 0;
}
nav ul li a{
    text-decoration: none;
    color: #f0f0f0;
}
nav ul li{
    position: relative;
    cursor: pointer;
    width: 120px;
    float:right;
    padding: 40px 0;
    text-align: center;
}
nav ul li:last-child{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin: 0;
    float: left;
    font-weight: 700;
    border-right: none;
    width: auto;
    padding: 25px 0 25px 200px;
}
nav ul li:first-child{
    border-right: none;
}
nav ul li:hover{
    background-color: #e7e7e7;
    color: #333333;
}
nav ul li:hover a{
    text-decoration: none;
    color: #333333;
}
nav ul li:hover #nav-logo{
    color: #f0f0f0;
}
nav ul li:last-child:hover{
    background-color: #111111;
    color: #f0f0f0;
}

.nav-signup{
    display: none;
    width: 250px;
    position: absolute;
    top: 65px;
    right: 30px;
    background-color: #e7e7e7;
    padding: 10px 30px;
}
.nav.arrow-top {
    margin-top: 40px;
}
.nav-signup.arrow-top:after {
    content: " ";
    position: absolute;
    right: 30px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #e7e7e7;
}
nav ul li:hover .nav-signup {
    display: block;
}
/*main*/
/*carousel*/
.main{
    background-color: #1a1a1a;
}
.owl-carousel:hover{
    opacity: 0.8;
}
.carousel-block{
    display: flex;
    flex-direction: column-reverse;
    color: #e7e7e7;
}
.carousel-block h1, .carousel-block p{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    text-align: center;
}
.carousel-block h1{
    padding: 30px 0 5px 0;
    font-size: 30px;
}
.carousel-block p{
    padding: 5px 0 30px 0;
    font-size: 14px;
}
/*content*/
.container{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.container.even{
    background-color: #e7e7e7;
    color: #333333;
}
.container.even a{
    background-color: #333333;
    color: #e7e7e7;
    text-decoration: none;
}
.container.even a:hover{
    opacity: 0.7;
    /*text-decoration: none;*/
}
.container.odd a:hover{
    opacity: 0.7;
    /*text-decoration: none;*/
}
.container.odd{
    background-color: #333333;
    color: #e7e7e7;
}
.container.odd a{
    background-color: #e7e7e7;
    color: #333333;
    text-decoration: none;
}
.container.even p{
    animation: fadeInLeft 1500ms ;
}
.container.odd p{
    animation: fadeInRight 1500ms ;
}
.content p{
    margin: 100px 200px;
}
.btn{
    justify-content: center;
    align-items: center;
}
.btn a{
    padding: 30px 100px;
    border-radius: 5px;
    font-size: 25px;
}
@keyframes fadeInRight {
    from{
        transform: translateX(200%);
    }to{
        transform: translateX(0);
         }
}
@keyframes fadeInLeft {
    from{
        transform: translateX(-200%);
    }to{
         transform: translateX(0);
     }
}
/*footer*/
footer{
    background-color:#111111;
    color: #f0f0f0;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
#contact{
    width: 600px;
    margin: auto;
    font-size: 18px;
    font-weight: 300;
}
#contact li{
    padding-bottom: 10px;
}
#contact i{
    width: 20px;
    text-align: center;
    margin-right: 10px;
}
#social{
    width: 300px;
    margin: auto;
}
#social i{
    color: #f0f0f0;
    font-size: 35px;
    float: left;
    margin: 0 20px;
}
footer p{
    font-size: 25px;
    text-align: center;

}
